#!/usr/bin/make -f
export DH_VERBOSE=1
export PYBUILD_NAME=eden-bin
export PYBUILD_DISABLE=test

%:
	dh ${@} --with=python3 --buildsystem=pybuild

override_dh_auto_build:
	cp -r addons/* eden/addons/
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
	rm debian/eden/usr/lib/python3*/dist-packages/eden/addons/point_of_sale/static/src/fonts/Inconsolata.otf
	for LINKTARGET in `awk '{ print $2 }' eden.links`; do rm debian/eden/${LINKTARGET} ; done
	find debian/eden -name LICENSE.txt -exec rm {} \;

override_dh_auto_clean:
	dh_auto_clean
	for d in addons/* ; do rm -fr eden/$$d ; done
